{
  "openapi": "3.1.0",
  "info": {
    "title": "Tess API - Agent Execution",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tess.im"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "agentId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "The agent ID."
      },
      "workspaceId": {
        "name": "x-workspace-id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "ID of the workspace. If not provided, the user's selected workspace will be used. **This field will be required in a future release.**"
      }
    }
  },
  "paths": {
    "/agents/{id}/execute": {
      "post": {
        "operationId": "executeAgent",
        "summary": "Execute Agent",
        "description": "Execute a specific agent by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/agentId"
          },
          {
            "$ref": "#/components/parameters/workspaceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Agent inputs. Known fields are listed below. Additional custom fields accepted by the agent can be included at the root level.",
                "properties": {
                  "temperature": {
                    "type": "string",
                    "description": "Chat Agent field. Sampling temperature between 0 and 2. Higher values produce more creative outputs (default: `\"1\"`)."
                  },
                  "model": {
                    "type": "string",
                    "description": "Chat Agent field. Model identifier to use for execution (e.g., `\"tess-6\"`)."
                  },
                  "tools": {
                    "type": "string",
                    "description": "Chat Agent field. Tool configuration for the agent (e.g., `\"agent\"`, `\"no-tools\"`)."
                  },
                  "root_id": {
                    "type": "integer",
                    "description": "Chat Agent field. ID of an existing execution to continue a conversation thread."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Chat Agent field. The agent messages. Required for Chat Agent type templates. Supports `user`, `assistant`, and `developer` roles.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["user", "assistant", "developer"],
                          "description": "Message role."
                        },
                        "content": {
                          "type": "string",
                          "description": "Message content."
                        }
                      },
                      "required": ["role", "content"]
                    }
                  },
                  "waitExecution": {
                    "type": "boolean",
                    "default": false,
                    "description": "If `true`, waits for the execution to finish before returning (timeout: 100 s). For longer executions set `waitExecution: false` and poll the Get Agent Response endpoint."
                  },
                  "file_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of file IDs to attach to the execution."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution started (or completed if `waitExecution: true`)."
          }
        }
      }
    },
    "/agents/{id}/openai/chat/completions": {
      "post": {
        "operationId": "executeOpenAICompatible",
        "summary": "Execute OpenAI Compatible",
        "description": "Execute a specific chat agent by ID using the OpenAI-compatible API.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/agentId"
          },
          {
            "$ref": "#/components/parameters/workspaceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "OpenAI-compatible request body. At the moment only `temperature`, `messages`, `tools`, and `stream` are supported.",
                "properties": {
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature between 0 and 2."
                  },
                  "model": {
                    "type": "string",
                    "description": "Model identifier (e.g., `\"tess-6\"`)."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Array of messages. Supports `system`, `user`, and `assistant` roles.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["system", "user", "assistant"],
                          "description": "Message role."
                        },
                        "content": {
                          "type": "string",
                          "description": "Message content."
                        }
                      },
                      "required": ["role", "content"]
                    }
                  },
                  "tools": {
                    "type": "string",
                    "description": "Tool configuration for the agent (e.g., `\"agent\"`, `\"no-tools\"`)."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If `true`, streams the response using SSE."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response."
          }
        }
      }
    }
  }
}
