{
  "openapi": "3.1.0",
  "info": {
    "title": "Tess Upload File API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tess.im"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UploadFileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "object": {
            "type": "string"
          },
          "bytes": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "credits": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/files": {
      "post": {
        "summary": "Upload File",
        "description": "Upload a new file to the system and optionally process it.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-workspace-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the workspace. If not provided, the user's selected workspace is used."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  },
                  "process": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to process the file after upload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
